@{
    ViewData["Title"] = "About";
}
@model dojo_league.Models.Ninja

<h1>Name: @Model.Name</h1>
<h4>Ninja Level: @Model.Level</h4>
<h4>Description: @Model.Description</h4>
@if(Model.Dojo.Id != 0)
{
    <h4>Current Dojo: <a href="/dojos/@Model.Dojo.Id">@Model.Dojo.Name</a></h4>
}
else
{
    <h4>Current Dojo: Ronin</h4>
}